autopep8==1.4.3
beautifulsoup4==4.7.1
boto==2.49.0
boto3==1.9.107
botocore==1.12.107
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
docutils==0.14
gensim==3.7.1
idna==2.8
jmespath==0.9.4
kiwisolver==1.0.1
matplotlib==3.0.3
numpy==1.16.2
pandas==0.24.2
prompt-toolkit==1.0.14
pycodestyle==2.5.0
Pygments==2.3.1
PyInquirer==1.0.3
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
regex==2019.3.12
requests==2.21.0
rope==0.12.0
s3transfer==0.2.0
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
six==1.12.0
sklearn==0.0
smart-open==1.8.0
soupsieve==1.8
urllib3==1.26.5
wcwidth==0.1.7
